<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EPF Gestion - {% block title %}{% endblock %}</title> {# Titre #}
        <link rel="icon" href="{{ asset('img/logo-epf-gestion.ico') }}" /> {# Icone #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/switch.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="left-section">
                <img class="logo" src="{{ asset('img/logo-epf-gestion.svg') }}" alt="Logo EPF Gestion">
                <div class="nom">EPF Gestion</div>
            </div>
            <div class="right-section">
                <div class="searchbar">
                    <input type="text" placeholder="Rechercher...">
                    <img class="icon" src="{{ asset('img/search.svg') }}" alt="Rechercher">
                </div>
                <div class="login-btn">S'identifier</div>
            </div>
        </div>        
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %} <script src="{{ asset('js/script.js') }}"></script> {% endblock %}
    </body>
</html>
