<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EPF Gestion - {% block title %}{% endblock %}</title> {# Title #}
        <link rel="icon" href="{{ asset('img/logo-epf-gestion.ico') }}" /> {# Icon #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/home.css') }}">
            <link rel="stylesheet" href="{{ asset('css/switch.css') }}">
        {% endblock %}
    </head>
    <body>

        {# Navbar #}
        <div class="navbar">
            <div class="left-section">
                <a href="/">
                    <img class="logo" src="{{ asset('img/logo-epf-gestion.svg') }}" alt="Logo EPF Gestion">
                </a>
                <div class="nom">EPF Gestion</div>
            </div>

            <div class="right-section">
                <form class="searchbar" action="/search/" method="get">
                        <input type="text" name="search" placeholder="Rechercher...">
                        <button class="search-button" type="submit">
                            <img class="icon" src="{{ asset('img/search.svg') }}" alt="Rechercher">
                        </button>
                </form>
                <a href="/login/" class="login-btn">S'identifier</a>
                <a href="/cart/" class="cart-button" data-count="{{ app.session.get('cart') | length }}">Panier</a>
            </div>
        </div>



        {# Content #}
        <div class="content">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %} <script src="{{ asset('js/script.js') }}"></script> {% endblock %}
    </body>
</html>
