{% extends 'base.html.twig' %}

{% block title %}Adding a borrow!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Adding a borrow</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <table>
            <tbody>
                <tr>Image</tr>
                <tr>Objet</tr>
                <tr>Quantité</tr>
                <tr></tr>

                {% for element in items %}
                    <td>{{element.item.image}}</td>
                    <td>{{element.item.name}}</td>
                    <td>{{element.quantity}}
                        <a href="{{path('app_cart_add', {id: element.item.id})}}">Ajouter</a>
                        <a href="{{path('app_cart_remove', {id: element.item.id})}}">Retirer</a>
                    </td>
                    <td>
                        <a href="{{path('app_cart_delete', {id: element.item.id})}}">Supprimer</a>
                    </td>
                {% else %}
                    <h3>Votre panier est vide </h3>
                {% endfor %}
            </tbody>

        </table>
        <input type="submit">
    {{ form_end(form) }}

</div>
{% endblock %}
