
{% extends 'base.html.twig' %}

{% block title %}G&eacute;n&eacute;rer votre emprunt !{% endblock %}

{% block body %}
<h1>G&eacute;n&eacute;rer votre emprunt</h1>
<div class="container">

    {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <table class="table table-striped">
            <h4>R&eacute;sum&eacute; de votre emprunt</h4>
            <tbody>
                <tr>
                    <th>Image</th>
                    <th>Objet</th>
                    <th>Quantit&eacute;</th>
                    <th></th>
                </tr>
                
                {% for element in items %}
                <tr>
                    <td><img width="200" height="150" class="image" src="data:image/png;base64,{{element.item.image}}" ></td>
                    <td>{{element.item.name}}</td>
                    <td>
                        <a href="{{path('app_cart_remove', {id: element.item.id})}}">-</a>
                        {{element.quantity}}
                        <a href="{{path('app_cart_add', {id: element.item.id})}}">+</a>
                    </td>
                    <td>
                        <a href="{{path('app_cart_delete', {id: element.item.id})}}">Supprimer</a>
                    </td>
                </tr>
                {% else %}
                    <h3>Votre panier est vide </h3>
                {% endfor %}
                
            </tbody>

        </table>
        <input type="submit">
    {{ form_end(form) }}

</div>
{% endblock %}
