{# Item list fragment #}
<table class="table table-striped">
    <tbody> 
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Nom</th>
            <th>Cat&eacute;gorie</th>
            <th></th>
        </tr>
    
        {% for item in items_list %}
            <tr>
                <td> {{item.id}} </td>
                <td>
                    <img src="https://picsum.photos/200/200" alt="image">{# <img src="data:image/png;base64,{{ item.image }}" alt="{{ item.name }}"> #}
                </td>
                <td>
                    <a href="/item/{{ item.id }}">{{ item.name }}</a>
                </td>
                <td> {{ item.category.name }} </td>
                <td>
                    <div class="action">
                        <button class="btn-Ajouter" onclick="location.href='/cart/add/{{ item.id }}'">Ajouter</button>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
