{% extends 'base.html.twig' %}

{% block title %}Détails de l'élément {{ item.name }}{% endblock %}

{% block body %}

<h1>Détails de l'élément {{ item.name }}</h1>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ item.id }}</td>
                <td><img class="image" src="data:image/png;base64,{{ item.image }}" width="200" height="150" alt="{{ item.name }}"> </td>
                <td>{{ item.name }}</td>
                <td><a href="/category/{{ item.category.id }}">{{ item.category.name }}</a></td>
                <td>{{ item.stock }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
