{% extends 'base.html.twig' %}

{% block title %}Détails de l'élément {{ item.name }}{% endblock %}

{% block body %}

<h1>Détails de l'élément {{ item.name }}</h1>
<div class="container-items">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>État</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.state.value }}</td>
                <td><a href="/category/{{ item.category.id }}">{{ item.category.name }}</a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
