{% extends 'base.html.twig' %}

{% block title %}Détail de la categorie {{ category.name }}{% endblock %}

{% block body %}

<h1>Détail de la categorie {{ category.name }}</h1>
<div class="container-items">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Id</th>
                <th>Description</th>
                <th>Prix unitaire</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.id }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.price }}</td>
                <td>{{ category.stock }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
