{% extends 'base.html.twig' %}

{% block title %}Viewing the details of a category{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Viewing the details of a category</h1>

    <h2>{{ category.name }}</h2>
    <dl>
    <dt>Id</dt>
    <dd>{{ category.id }}</dd>
    <dt>Description</dt>
    <dd>{{ category.description }}</dd>
    <dt>Prix unitaire</dt>
    <dd>{{ category.price }}</dd>
    <dt>Stock</dt>
    <dd>{{ category.stock }}</dd>
    </dl>

</div>
{% endblock %}
