{% extends 'base.html.twig' %}

{% block title %}Nom de l'utilisateur {{ user.firstName }}{% endblock %}

{% block body %}

<h1>Utilisateur: {{ user.lastName }} {{ user.firstName }}</h1>


<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mes emprunts:</th>
            </tr>
        </thead>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Chef de projet</th>
                <th>Responsable</th>
                <th>Date de début</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody>
            {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.id }}</td>
                <td>{{ borrow.projectManager.lastName}} {{ borrow.projectManager.firstName}}</td>
                <td>{{ borrow.stakeholder.lastName}} {{ borrow.stakeholder.firstName}}</td>
                <td>{{ borrow.startDate|date("d/m/Y")}}</td>                
                <td>{{ borrow.endDate|date("d/m/Y") }}</td>    
            </tr>
            {% else %}
            <tr>
                <td><strong>Aucun emprunt réalisé.</strong></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container-form">
    <a href="/user/delete/{{user.id}}">
        <button type="button" class="btn btn-primary" id="myButton">Supprimer mon compte</button>
    </a>
    <br>
    <br>
    <a>
        <button type="button" class="btn btn-primary" id="myButton">Modifier mon mot de passe</button>
    </a>
</div>
{% endblock %}
