{% extends 'base.html.twig' %}

{% block title %}Administration du site{% endblock %}

{% block body %}
    <h1>Emprunt(s) requiérant(s) votre validation :</h1>
    <div class="container">
            <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Chef de projet</th>
                <th>Responsable</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th></th>
                <th></th>

                
            </tr>
        </thead>
        <tbody>
        {% for borrow in pendingBorrows %}
            <tr>
                <td><a href="{{path('app_borrow_view', {id:borrow.id})}}">{{ borrow.id }}</a></td>
                <td>{{ borrow.projectManager.lastName}} {{ borrow.projectManager.firstName}}</td>
                <td>{{ borrow.stakeholder.lastName}} {{ borrow.stakeholder.firstName}}</td>
                <td>{{ borrow.startDate|date("d/m/Y")}}</td>                
                <td>{{ borrow.endDate|date("d/m/Y") }}</td>
                <td>{{ borrow.description}}</td>    
                <td>
                    <a href="{{path('app_admin_validate_borrow', {id:borrow.id})}}">Autoriser</a>
                </td>                
                <td>
                    <a href="{{path('app_admin_revoke_borrow', {id:borrow.id})}}">Révoquer</a>
                </td>  
            </tr>
        {% else %}
            <tr><td>Vous n'avez aucun emprunt à valider/refuser.</td></tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    
{% endblock %}
